.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.form__update__post {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;

  label {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  label input {
    flex: 1;
  }

  label span {
    display: inline-flex;
    width: 100px;
  }
}

.group__btn {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.btn {
  background-color: greenyellow;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:first-child {
  background-color: rgb(239, 188, 58);
}
