.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }

  span {
    margin-top: 10px;
    text-align: center;
  }
}

.create__post__btn {
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #5cb85c;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-self: center;
}

.create__post__btn:hover {
  opacity: 0.8;
}

.posts {
  align-self: center;
  margin-top: 10px;
  height: 660px;
  overflow: auto;
}
